<ul class="nav justify-content-center" style="background-color: bisque;" >
  <li class="nav-item">
    <a class="nav-link active" aria-current="page"
     [routerLink]="['/dashboard', 'lista','panel']">Panel Principal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page"
    [routerLink]="['/dashboard', 'lista','alquiler']">Alquiler</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Historial Registros</a>
  </li>
  <div style="margin-left: 50px;margin-right: 50px;"> user:  {{userSession.user}} - {{userSession.role}}</div>
  <div class ="btn btn-info" (click)="salir()">Salir</div>
</ul>

<div class="panel">

    <router-outlet></router-outlet>

</div>
<style>
  .panel{
       width: 80vw;
       height: 80vh;
       background-color: antiquewhite;
       border-radius: 20px;
       margin-left: 10vw;
       margin-top: 5vh;
  }
</style>
