<div style="overflow-y: scroll; height: 35vh" class="mt-5">
  <h3 style="margin-left: calc(50% - 100px);">Lista de Vuelos</h3>
  <div style="
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items:stretch;
    align-content:space-between">
        <div
          *ngFor="let viaje of misViajes"
          class="mt-2"
          style="
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items:center;
    align-content:space-between;
    border-bottom: white 1px solid"
        >
          <label style="width: 25%;">Destino: {{ viaje.ubicacion }}</label>
          <label style="width: 25%;margin-left: 10px;"> cupos: {{ viaje.cupo }}</label>
          <label style="width: 25%;margin-left: 10px;"> salida: {{ viaje.salida }} </label>
          <button
            class="btn btn-primary"
            (click)="reservar(viaje)"
            [style.width]="'width: 25%'"
          >
            Reservar
          </button>
        </div>
  </div>


</div>
