<div style="height: 80vh; overflow-y: auto">
  <div
    style="
      background-color: rgb(241, 200, 138);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      text-align: center;
    "
  >
    <h2>Alquiler</h2>
  </div>
  <div class="ruta mt-4">
    <div>
      <div class="caja1">
        <p style="font-weight: bold">Ubicación</p>
        <p>¿A donde vás?</p>
      </div>
      <div class="caja1">
        <p style="font-weight: bold">Llegada</p>
        <p>Agregar fechas</p>
      </div>
      <div class="caja1">
        <p style="font-weight: bold">Salida</p>
        <p>Agregar fechas</p>
      </div>
      <div class="caja2">
        <p style="font-weight: bold">Pasajeros</p>
        <p>Agregar pasajeros</p>
      </div>
      <div
        class="caja3"
        style="
          border-radius: 50%;
          background-color: rgb(240, 201, 29);
          text-align: center;
        "
      >
        <h2 style="margin-top: 25%">
          <i class="bi bi-search"></i>
        </h2>
      </div>
    </div>
    <app-detalle-viaje [loaded]="true"></app-detalle-viaje>
  </div>

</div>
<style>
  .ruta {
    border-radius: 50px;
    background-color: rgb(231, 226, 226);
    width: 90%;
    height: 120px;
    margin-left: 5%;
    margin-top: -50px;
    display: inline-block;
  }
  .caja1 {
    width: 19%;
    height: 80px;
    border-right: rgb(15, 14, 14) 2px solid;
    margin-left: 3%;
    margin-top: 2%;
    display: inline-block;
  }
  .caja2 {
    width: 19%;
    height: 80px;
    margin-left: 3%;
    margin-top: 2%;
    display: inline-block;
  }
  .caja3 {
    width: 80px;
    height: 80px;
    margin-left: 1%;
    margin-top: 1%;
    display: inline-block;
  }
</style>
