<div class="container" style="margin-top: 10%; margin-left: 20%">
  <div style="text-align: center" class="mt-5">
    <h3 style="font-style: oblique">Alquiler de viajes espaciales</h3>
  </div>
  <div class="row">
    <div class="col-4">
      <img
        style="width: 20vw; height: 20vh; border-radius: 20px"
        class="portada"
        src="https://media.istockphoto.com/photos/space-shuttle-in-the-rays-of-sun-picture-id1131418344?k=20&m=1131418344&s=612x612&w=0&h=yPyqDj2LYNbPNr8e69PQGm3LZZVTUWU0tjHzDsDl7YU="
        alt=""
      />
    </div>
    <div class="col-4 mt-2">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">User:</span>
        <input
          type="text"
          class="form-control"
          placeholder=""
          aria-label="Username"
          aria-describedby="addon-wrapping"
          [(ngModel)]="user"
        />
      </div>
      <div class="input-group flex-nowrap mt-1">
        <span class="input-group-text" id="addon-wrapping">Pass: </span>
        <input
          type="password"
          class="form-control"
          placeholder=""
          aria-label="Username"
          aria-describedby="addon-wrapping"
          [(ngModel)]="pass"
        />
      </div>
      <button class="mt-2 btn btn-info" (click)="ingresar()">Ingresar</button>
      <button
        pButton
        type="button"
        class="p-button-raised p-button-rounded"
        label="Al fin"
        (click)="ingresar()"
      ></button>
    </div>
  </div>
</div>

<style>
  .portada {
    width: 100px;
    height: 100px;
  }
  .portada:hover {
    filter: invert();
  }
</style>
