<div style="overflow-y: auto !important;">

  <div class="text-center" style="overflow-y: auto !important;">
    <div
      style="
        background-color: rgb(241, 200, 138);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      "
    >
      <h2>Control de roles<a  data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="bi bi-plus-circle"
        style="color:blue;margin-left: 20px;font-size: 20px;cursor: pointer;"
        (click)="editOrCreateUser = 'create'"
        >Nuevo Usuario</a>
       </h2>
    </div>
    <div style="overflow-y: auto !important;height: 60vh;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">user</th>
            <th scope="col">Usuario</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }} - {{ user.lastName }}</td>
            <td>{{ user.user }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                style="margin-right: 3px"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="editar(user)"
              >
                Editar
              </button>

              <button class="btn btn-danger" (click)="borrar(user)">
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Usuario: {{ userSelected.id }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="cleanModal()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="userEdit.name"
            />
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="userEdit.lastName"
            />
            <label for="floatingInput">Last Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              (keyup)="validEdit()"
              type="text"
              class="form-control"
              [(ngModel)]="userEdit.role"
            />
            <label for="floatingInput">Role = piloto | admin | passenger</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="userEdit.user"
            />
            <label for="floatingInput">User</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="userEdit.password"
            />
            <label for="floatingInput">Password</label>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="cleanModal()"
          >
            Cancelar
          </button>
          <button
            [disabled]="valid"
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="guardar()"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
